---
import type { TableOfWorksModule } from "../../utils/sanity";
import type { ImageAsset } from "@sanity/types";
import { urlFor } from "../../utils/image";

interface Props {
  module: TableOfWorksModule;
}

const { module } = Astro.props;
---

<!-- <section class="table-of-works">
  {module.projects && module.projects.length > 0 && (
    <div class="table-of-works__grid">
      {module.projects.map((project) => (
        <a
          href={project.slug?.current ? `/post/${project.slug.current}` : "#"}
          class="table-of-works__item"
        >
          {project.thumbnail && 
           project.thumbnail[0] && 
           project.thumbnail[0]._type === "image" &&
           project.thumbnail[0].asset && 
           !("url" in project.thumbnail[0].asset) && (
            <div class="table-of-works__thumbnail">
              <img
                src={urlFor(project.thumbnail[0].asset as ImageAsset).width(600).url()}
                alt={project.thumbnail[0].alt || project.title || ""}
              />
            </div>
          )}
          <div class="table-of-works__content">
            {project.title && (
              <h3 class="table-of-works__title">{project.title}</h3>
            )}
            {project.description && (
              <p class="table-of-works__description">{project.description}</p>
            )}
            {(project.year || project.client || project.location) && (
              <div class="table-of-works__meta">
                {project.year && <span>{project.year}</span>}
                {project.client && <span>{project.client}</span>}
                {project.location && <span>{project.location}</span>}
              </div>
            )}
          </div>
        </a>
      ))}
    </div>
  )}
</section> -->